body {
   background-color: #7B3F00;
	 font-family: 'Lato', sans-serif;
}

#wrapper {
	margin: auto;
	width: 90%;
	background-color: #F1F1DC;
	padding: 1% 2% 0 2%;
	border-radius: 1em;
}

#header {
  text-align: center;
	padding: 2% 0 2% 0;
	background-color: #7B3F00;
	background-image: url(shelving_2.png);
	background-repeat: repeat-x;
}

#intro {
  line-height: 1.5em;
}

#main {
  float: right;
	width: 50%;
	margin: 0 10% 2% 1%;
	background-color: #F1F1DC;
	padding: 2% 3% 0 3%;
	border-radius: 1em;
}

#extras {
  float: right;
	/*width: 14%;*/
	margin: 0 1% 2% 10%;
	padding: 2%;
	padding-top: 1%;
	background-color: #F1F1DC;
	border-radius: 1em;
}

#footer {
  clear: both;
	text-align: right;
	color: #F1F1DC; 
	background-color: #7B3F00;
	margin: 0;
	padding: 0;
	/*width: 78%;
	padding: 0% 1% 0% 1%;
	margin: 0 10% 2% 10%;*/
}

#footer p {
    color: #F1F1DC;
} 		

#bookembed {
  float: left;
	margin: 0 40px 30px 0;
	background-color: #F1F1DC;
}

#adminmenu {
	padding-left: 0;
}

#adminmenu li {
	float: left;
	list-style: none;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

p,li {
	font-size: 16px;
	line-height: 1em;
}

a {
	color: #67254A;
	text-decoration: none;
}

form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

#header h1 {
  border:8px solid #7B3F00;
	background-color: #F1F1DC;
	padding: 0.5% 0;
	color: #67254A; 
	width: 30%;
	margin: auto;
	height: 100%;
}

input[type="submit"] {
 height: 2em;
 color: #67254A;
 background: white;
 font-size: inherit;
 border: 1px solid #7B3F00;
 border-radius: 4px;
 box-shadow: 2px 2px 3px black;
 margin-left: 0.5em;
 margin-right: 0.5em;
 margin-bottom: 1em;
}

/*table tr td:hover.bookcovers { background-color:#F0F0F0; color:#000; }*/

table {width:98%; text-align:left; border:8px solid #7B3F00; color:#000;background:#F1F1DC; margin-bottom:10px;}
table th {background-color:#F1F1DC; border:8px solid #7B3F00; padding:3px 6px; font-weight:normal; color:#000;}
table tr td {border:8px solid #7B3F00; padding:5px 6px;}
table tr.alt td {background-color:#E2E2E2;}
/*table tr:hover {background-color:#F0F0F0; color:#000;}*/ /*had to hide this so the book covers view would work*/
table.bookcovers tr td:hover { background-color:#F0F0F0; color:#000; }/*this code works in highlighting cells in the book cover view*/
/*table.bookcovers tr:hover { text-decoration: none; } /* didn't work */
